.sidebarLogo {
    // width: fit-content;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebarLogo img {
    width: 100%;
}

li {
    font-family: Inter;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
    height: 50px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    img {
        margin-right: 13px;
    }

    &.selected {
        background: #0000000A;
        // padding: 12px;
        border-radius: 16px;
    }
}

.topHeader {
    height: fit-content;
    width: 100%;
    display: flex;
}

.breadcrumbs {
    margin-left: 26px;
    display: flex;
    align-items: center;

    span:first-child {
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        vertical-align: middle;
        color: #00000066;
    }

    span:nth-child(2) {
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        vertical-align: middle;
        padding: 0 20px;
        color: #00000066;
    }

    span:nth-child(3) {
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        vertical-align: middle;
    }
}

.searchInput {
    position: relative;

    input {
        border-radius: 20px;
        background-color: #0000000A;
        border: none;
        height: 35px;
    }

    input::placeholder {
        color: #00000033;
        font-size: 14px;
    }

    .slashdiv {
        position: absolute;
        top: 5px;
        right: 16px;
        border: 1px solid #0000001A;
        padding: 3px 10px;
        border-radius: 10px;
        color: #00000033;
    }

    .pi-search {
        color: #00000033;
    }

}

.profileMenu {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 10px;
    font-family: Inter;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
    height: 50px;
    padding-left: 10px;
}

.menuList {
    position: relative;
    height: 90vh;
}


.cursorPointer {
    cursor: pointer;
}